<html>
<br> <br> <br> <br>
<h1 align="center">Welcome to the Sample App</h1> <br>
<p align="center"><%= link_to image_tag("flower.png", alt: "A picture"),
            'http://google.com/' %></p>
</html>
